$grid: (
  12: (
    width: 960px,
    gutter: 20px,
    columns: 12,
  ),
  16: (
    width: 960px,
    gutter: 20px,
    columns: 16,
  ),
  24: (
    width: 960px,
    gutter: 10px,
    columns: 24,
  )
);
