$grid: (
  12: (
    width: 960px,
    gutter: 20px,
    columns: 12,
  ),
  16: (
    width: 960px,
    gutter: 20px,
    columns: 16,
  ),
  24: (
    width: 960px,
    gutter: 10px,
    columns: 24,
  )
);

$susy: (
  container: 960px,
  columns: 12,
  gutters: 1 / 3,
  global-box-sizing: border-box,
  last-flow: from,
  debug: (
    image: show,
  ),
  use-custom: (
    clearfix: true,
  )
);


$grid-susy: (
  12: (
    container: 960px,
    columns: 12,
    gutters: 1/3,
    grid-padding: 10px,
  ),
  16: (
    container: 960px,
    columns: 16,
    gutters: 1/2,
    grid-padding: 10px,
  ),
  24: (
    container: 960px,
    columns: 24,
    gutters: 1/3,
    grid-padding: 5px,
  )
);

