@each $key, $gs in $grid-susy {
  @include with-layout($gs) {
    .container-#{$key} {
      @include container;
      padding-left: map-get($gs, grid-padding);
      padding-right: map-get($gs, grid-padding);

      @include nested(map-get($gs, columns)) {

        @for $i from 1 through $key {
          .grid-#{$i} {
            @include span($i);

            &:before {
              content: "#{$i}/#{$key}";
            }
          }

          .prefix-#{$i} {
            @include pre($i);
          }

          .suffix-#{$i} {
            @include post($i);
          }

          .push-#{$i} {
            @include pre($i);
          }

          .pull-#{$i} {
            @include post($i);
          }

        }
      }
    }
  }
}


